@{
  ViewData["Title"] = "Threads";
}
<br><h1 style="text-align: center;">@Model.Title</h1><br>
<hr>

<div class="row" style="padding-top: 20px; text-align:center;" >
<div class="col-6">
<form action="/threads/@Model.ThreadsId/newpost/" method="post">
<h4>Create a Post!</h4><br>
  <input type="text" placeholder="Body" style="text-align: center;" id="Body" name="Body"><br><br>
  <select name="usersId" id="usersId">
    @foreach (Users user in ViewBag.users)
    {
      <option value="@user.UsersId">
        @user.Name
      </option>
    }
  </select>
  <br><br><button type="submit">Post</button>
</form>
</div>
<div class="col-6">
<h3>Posts:</h3><br>
@foreach (Post post in ViewBag.posts)
{
  @foreach (Users postUser in ViewBag.users)
  {
    @if (postUser.UsersId == post.UsersId)
    {
      <p><strong>@postUser.Name</strong>: @post.Body</p>
    }
  }
}
</div>
</div>
<br><br><p style="text-align: center;">@Html.ActionLink("Edit thread details!", "Edit", new { id = @Model.ThreadsId })</p>
